.list-top {
  border-bottom: 1px solid #e3e3e6;
  padding-bottom: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.list-top > div:first-child {
  display: flex;
}

.btn-create-project {
  margin-right: 20px;
}

.list {
  border: 1px solid #E7E7E7;
  margin-bottom: 30px;
}

.list-header {
  background-color: #F5F5F5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-link {
  padding: 0 !important
}

.list-footer > div {
  /*color: red;*/
  min-height: 40px;
  line-height: 40px;
  text-align: center;
}

.list-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionnaire-list {
  display: flex;
  flex-direction: column;
}

.questionnaire {
  margin-bottom: 10px;
}

.questionnaire-title {
  font-size: 18px;
  font-weight: bold;
}

.questionnaire-description {
  font-size: 14px;
  margin-top: 5px;
}

.no-questionnaire {
  min-height: 20px;
  line-height: 20px;
  font-size: 16px;
  padding-top: 10px;
  color: red;
}
.gap{
  width: 1000px;
  border-bottom: 1px solid gray;
}
.questionnaire:nth-last-of-type(1) .gap{
  border: none;
}