<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.training524.dao.AnswerEntityMapper">
    <resultMap id="BaseResultMap" type="com.example.training524.dao.entity.AnswerEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <id column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId" />
        <result column="answer_content" jdbcType="VARCHAR" property="answerContent" />
        <result column="answered_by" jdbcType="VARCHAR" property="answeredBy" />
        <result column="answer_date" jdbcType="TIMESTAMP" property="answerDate" />
        <result column="last_answer_date" jdbcType="TIMESTAMP" property="lastAnswerDate" />
    </resultMap>

    <sql id="Base_Column_List">
        id, questionnaire_id, answer_content, answered_by, answer_date, last_answer_date
    </sql>

    <!--根据问卷ID查询回答内容列表-->
    <select id="queryAnswerContentList" parameterType="java.lang.String" resultType="com.example.training524.dao.entity.AnswerEntity">
        SELECT
            answer_content
        FROM ANSWER_INFO
        WHERE questionnaire_id = #{questionnaireId,jdbcType=VARCHAR}
    </select>

    <!--根据回答ID查询回答信息-->
    <select id="queryAnswer" parameterType="java.lang.String" resultType="com.example.training524.dao.entity.AnswerEntity">
        SELECT
            *
        FROM ANSWER_INFO
        WHERE id = #{id,jdbcType=VARCHAR}
    </select>

    <!--根据问卷ID回答问卷-->
    <insert id="answerQuestionnaire" parameterType="com.example.training524.dao.entity.AnswerEntity">
        insert into ANSWER_INFO (id, questionnaire_id, answer_content, answered_by, answer_date, last_answer_date)
        values (#{id,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=VARCHAR}, #{answerContent,jdbcType=VARCHAR},
                #{answeredBy,jdbcType=VARCHAR}, DEFAULT, DEFAULT)
    </insert>

</mapper>